.transactionHistory {
  margin: 0 auto;
  width: 30%;

  border: 1px solid lightgray;
}

.transactionHistory th {
  padding: 20px 0;

  font-weight: 900;
  font-size: 25px;
  text-transform: uppercase;
  color: white;

  background-color: aqua;
}

.transactionHistory tr {
  text-align: center;
}

.transactionHistory tbody tr:nth-child(2n + 1) {
  background-color: lightgray;
}

.transactionHistory td {
  padding-top: 10px;
  padding-bottom: 10px;

  font-weight: 700;
  font-size: 19px;
  color: rgb(71, 71, 71);
}
