.status {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;

  margin-right: 20px;
}

.isOnline {
  composes: status;
  background-color: green;
}

.isOffline {
  composes: status;
  background-color: red;
}

.avatar {
  margin-right: 20px;
  border-radius: 10px;
  background-color: grey;
}

.name {
  font-size: 34px;
  font-weight: 900;
}

.item {
  padding: 20px 0px 20px 20px;
  display: flex;
  align-items: center;

  border: 1px solid gray;
  box-shadow: 10px 5px 5px grey;
}

.item:not(:last-child) {
  margin-bottom: 10px;
}
